<% for column in Degree.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @degree.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @degree %> |
<%= link_to 'Back', :action => 'list' %>
